<div class="flex flex-col">
	<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
		<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
			<div class="overflow-hidden">

				<ul>
					{# {{stats[0].name}} #}


				</ul>
				<table class="border border-grey-500 min-w-full">
					<thead class="bg-grey-800 border-b	">
						<tr>

							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								#{{team.name}}
							</th>
							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								Equipe
							</th>
							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								V
							</th>
							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								D
							</th>
						</tr>
					</thead>
					<tbody>
						{% for stat in stats %}
							<tr class="bg-gray-900 border-b">
								<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
									{{stat.id}}
								</td>

								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									{{stat.name}}
								</td>
								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									{{stat.nb_victoire}}
								</td>       
								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									{{stat.nb_defaite}}
								</td>
							</tr>


						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
